#root {
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.overlay-style{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}
.modal-style{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 30px;
  min-width: 400px;
  min-height: 200px;
  display: flex;
  z-index: 1000;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .7);
}
.modal-style form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-steps {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
}
.modal-steps input {
  padding: 5px 10px;
  margin-top: 20px;
}
.customer-list-headers{
  border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.current-step{
  position: absolute;
  top: 1rem;
  right: 1rem
}

.btn-sub-block{
  margin-top: 1rem;
  display: flex;
  gap: .5rem;
  justify-content: end;
  margin-top: 50px;
}

.customer-list{
  display: flex;
  justify-content: center;
}

.customer-list p{
  width: 30%;
}